@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  text-decoration: none;
}
.cafe-scroll-box {
  background-color: rgb(238, 238, 238);
  border-radius: 10rem;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0.3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.padding1 {
  padding: 1rem;
}
.cafe-home-title {
  margin-top: 10px;
}
.bottom-padding0 {
  padding-bottom: 0rem;
}
.cafe-insta-img {
  width: 100%;
  object-fit: cover;
  max-width: 500px;
}
.cafe-post-title {
  color: black;
}
.display-flex {
  display: flex;
  flex-direction: column;

  align-items: center;
}
